%p#notice= notice

%p
  %b
    Процессор
    = @cpu.name
    - if is_operator?(@current_role)
      = link_to edit_cpu_path(@cpu), class: 'btn btn-warning' do
        = fa_icon :edit
    - if is_admin?(@current_role)
      = link_to @cpu, class: 'btn btn-danger', method: :delete, data: { confirm: t('buttons.confirm.cpu') } do
        = fa_icon :times
%p
  = image_tag(@cpu.image.url(:med), class: "left_img") if @cpu.image.exists?
  %p
    = @cpu.description
  %p
    %b Компания:
    = @cpu.company.name
  %p
    %b Цена:
    = @cpu.price
  %p
    %b Socket:
    = @cpu.cpu_socket.name
  %p
    %b Ядро:
    = @cpu.core
  %p
    %b Количество ядер:
    = @cpu.core_num
  %p
    %b Частота процессора:
    = @cpu.core_speed
  %p
    %b Разгоняема?:
    - if @cpu.overclocking == false
      Нет
    - if @cpu.overclocking == true
      Да
  %p
    %b Встроенное видеоядро:
    = @cpu.video_core.name
  %p
    %b Тепловыделение:
    #{@cpu.tdp} Вт
  %p
    %b Игровой тест производительности:
    = @cpu.game_benchmark
