%p#notice= notice

%p
  %b
    Блок питания
    = @power_supply.name
    - if is_operator?(@current_role)
      = link_to edit_power_supply_path(@power_supply), class: 'btn btn-warning' do
        = fa_icon :edit
    - if is_admin?(@current_role)
      = link_to @power_supply, class: 'btn btn-danger', method: :delete, data: { confirm: t('buttons.confirm.power_supply') } do
        = fa_icon :times
%p
  = image_tag(@power_supply.image.url(:med), class: "left_img") if @power_supply.image.exists?
  %p
    = @power_supply.description
  %p
    %b Компания:
    = @power_supply.company.name
  %p
    %b Цена:
    = @power_supply.price
  %p
    %b Мощность:
    = @power_supply.power
