%p#notice= notice

%p
  %b
    SSD
    = @ssd.name
    - if is_operator?(@current_role)
      = link_to edit_ssd_path(@ssd), class: 'btn btn-warning' do
        = fa_icon :edit
    - if is_admin?(@current_role)
      = link_to @ssd, class: 'btn btn-danger', method: :delete, data: { confirm: t('buttons.confirm.ssd') } do
        = fa_icon :times
%p
  = image_tag(@ssd.image.url(:med), class: "left_img") if @ssd.image.exists?
  %p
    = @ssd.description
  %p
    %b Компания:
    = @ssd.company.name
  %p
    %b Цена:
    = @ssd.price
  %p
    %b Объем:
    = @ssd.volume
  %p
    %b Размер:
    = @ssd.size
  %p
    %b Скорость записи:
    #{@ssd.write_speed.to_i} Мб/с
  %p
    %b Скорость чтения:
    #{@ssd.read_speed.to_i} Мб/с
