%p#notice= notice

%p
  %b
    Жесткий диск
    = @hdd.name
    - if is_operator?(@current_role)
      = link_to edit_hdd_path(@hdd), class: 'btn btn-warning' do
        = fa_icon :edit
    - if is_admin?(@current_role)
      = link_to @hdd, class: 'btn btn-danger', method: :delete, data: { confirm: t('buttons.confirm.hdd') } do
        = fa_icon :times
%p
  = image_tag(@hdd.image.url(:med), class: "left_img") if @hdd.image.exists?
  %p
    = @hdd.description
  %p
    %b Компания:
    = @hdd.company.name
  %p
    %b Цена:
    = @hdd.price
  %p
    %b Объем:
    = @hdd.volume
  %p
    %b Размер:
    = @hdd.size
  %p
    %b Скорость вращения:
    = @hdd.rotation_speed
  %p
    %b Скорость записи:
    #{@hdd.write_speed.to_i} Мб/с
  %p
    %b Скорость чтения:
    #{@hdd.read_speed.to_i} Мб/с
