%p#notice= notice

%p
  %b
    = @ram.name
    - if is_operator?(@current_role)
      = link_to edit_ram_path(@ram), class: 'btn btn-warning' do
        = fa_icon :edit
    - if is_admin?(@current_role)
      = link_to @ram, class: 'btn btn-danger', method: :delete, data: { confirm: t('buttons.confirm.ram') } do
        = fa_icon :times
%p
  = image_tag(@ram.image.url(:med), class: "left_img") if @ram.image.exists?
  %p
    = @ram.description
  %p
    %b Компания:
    = @ram.company.name
  %p
    %b Цена:
    = @ram.price
  %p
    %b Тип памяти:
    #{@ram.ram_type.name}-#{@ram.ram_type.speed}
  %p
    %b Объем:
    #{@ram.volume} Гб
