%p#notice= notice
%p
  %b
    Видеокарта
    = @video_card.name
    - if is_operator?(@current_role)
      = link_to edit_video_card_path(@video_card), class: 'btn btn-warning' do
        = fa_icon :edit
    - if is_admin?(@current_role)
      = link_to @video_card, class: 'btn btn-danger', method: :delete, data: { confirm: t('buttons.confirm.video_card') } do
        = fa_icon :times
%p
  = image_tag(@video_card.image.url(:med), class: "left_img") if @video_card.image.exists?
  %p
    = @video_card.description
  %p
    %b Компания:
    = @video_card.company.name
  %p
    %b Цена:
    = @video_card.price
  %p
    %b Скорость:
    = @video_card.speed
  %p
    %b Объем видеопамяти:
    = @video_card.volume
  %p
    %b Тип:
    = @video_card.memory
  %p
    %b Тепловыделение:
    = @video_card.tdp
  %p
    %b Игровой тест производительности:
    = @video_card.game_benchmark
