%p#notice= notice

%p
  %b
    Материнская плата
    = @motherboard.name
    - if is_operator?(@current_role)
      = link_to edit_motherboard_path(@motherboard), class: 'btn btn-warning' do
        = fa_icon :edit
    - if is_admin?(@current_role)
      = link_to @motherboard, class: 'btn btn-danger', method: :delete, data: { confirm: t('buttons.confirm.motherboard') } do
        = fa_icon :times
%p
  = image_tag(@motherboard.image.url(:med), class: "left_img") if @motherboard.image.exists?
  %p
    = @motherboard.description
  %p
    %b Компания:
    = @motherboard.company.name
  %p
    %b Цена:
    = @motherboard.price
  %p
    %b Chipset:
    = @motherboard.chipset.name unless @motherboard.chipset.nil?
  %p
    %b Количество слотов pci_e_x16:
    = @motherboard.pci_e_x16_num
  %p
    %b SLI, CrossFire?:
    = @motherboard.sli_crossfire
  %p
    %b Поддерживаемая память
    #{@motherboard.ram_num} слота #{@motherboard.ram_type.name}, #{@motherboard.ram_type.speed}
  %p
    %b BIOS:
    = @motherboard.bios
  %p
    %b Аудио:
    = @motherboard.audio
  %p
    %b Форм-фактор:
    = @motherboard.form_factor
