= form_tag user_sessions_path, :method => :post do
  .form-group
    = label_tag      :email, "Почта", class: "control-label"
    = text_field_tag :email, [], class: "form-control"
  .form-group
    = label_tag          :password, "Пароль", class: "control-label"
    = password_field_tag :password, [],       class: "form-control"
  .actions
    = submit_tag "Войти", class: "btn btn-success"
