= bootstrap_form_for @assembly do |f|
  = f.alert_message "Пожалуйста, исправьте ошибки ниже."

  = f.text_field :name
  = f.text_area :description
  = f.text_field :finanse
  = f.collection_select(:motherboard_id, Motherboard.all, :id, :name, {:prompt => true})
  = f.collection_select(:cpu_id, Cpu.all, :id, :name, {:prompt => true})
  = f.collection_select(:ram_id, Ram.all, :id, :name, {:prompt => true})
  = f.collection_select(:video_card_id, VideoCard.all, :id, :name, {:prompt => true})
  = f.collection_select(:ssd_id, Ssd.all, :id, :name, {:prompt => true})
  = f.collection_select(:hdd_id, Hdd.all, :id, :name, {:prompt => true})
  = f.collection_select(:power_supply_id, PowerSupply.all, :id, :name, {:prompt => true})
  = f.number_field :video_card_num
  = f.number_field :hdd_num
  = f.number_field :ssd_num
  = f.number_field :ram_num
  %input#assembly_user.form-control{:name => "assembly[user]", :type => "text", value: current_user.id, type: "hidden"}
  = f.submit t('buttons.create'), class: "btn btn-success"
