%h1= t('activerecord.models.assemblies')
= link_to new_assembly_path, class: 'btn btn-success' do
  = fa_icon :plus
  = t('buttons.new.assembly')
%table.table.table-responsive
  - @assemblies.each do |assembly|
    .ram_num.d-none=        assembly.ram_num
    .video_card_num.d-none= assembly.video_card_num
    .ssd_num.d-none=        assembly.ssd_num
    .hdd_num.d-none=        assembly.hdd_num
    %thead
      %tr.center
        %th= t('activerecord.attributes.assembly.motherboard')
        %th= t('activerecord.attributes.assembly.cpu')
        %th
          = t('activerecord.attributes.assembly.ram')
          .part_num
        %th
          = t('activerecord.attributes.assembly.video_card')
          .part_num
        %th
          = t('activerecord.attributes.assembly.ssd')
          .part_num
        %th
          = t('activerecord.attributes.assembly.hdd')
          .part_num
        %th= t('activerecord.attributes.assembly.power_supply')
        %th
    %tbody
      %tr.center
        %td= link_to image_tag(assembly.motherboard.image.url(:thumb)), motherboard_path(assembly.motherboard) unless assembly.motherboard.nil?
        %td= link_to image_tag(assembly.cpu.image.url(:thumb)), cpu_path(assembly.cpu) unless assembly.cpu.nil?
        %td= link_to image_tag(assembly.ram.image.url(:thumb)), ram_path(assembly.ram) unless assembly.ram.nil?
        %td= link_to image_tag(assembly.video_card.image.url(:thumb)), video_card_path(assembly.video_card) unless assembly.video_card.nil?
        %td= link_to image_tag(assembly.ssd.image.url(:thumb)), ssd_path(assembly.ssd) unless assembly.ssd.nil?
        %td= link_to image_tag(assembly.hdd.image.url(:thumb)), hdd_path(assembly.hdd) unless assembly.hdd.nil?
        %td= link_to image_tag(assembly.power_supply.image.url(:thumb)), power_supply_path(assembly.power_supply) unless assembly.power_supply.nil?
        %td.right
          = link_to assembly, class: 'btn btn-info' do
            = fa_icon :eye
          .row
          = link_to edit_assembly_path(assembly), class: 'btn btn-warning' do
            = fa_icon :edit
          .row
          = link_to assembly, class: 'btn btn-danger', method: :delete, data: { confirm: t('buttons.confirm.assembly') } do
            = fa_icon :times
